<footer class="footer">
  <small>
    Created using <a href="https://www.railstutorial.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "News", news_path %></li>
      <li><a href="https://github.com/zf-jiang/CoinLens">Github</a>
    </ul>
  </nav>
</footer>